.user-profile {
    display: flex;
  }
  
  .toggle-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
  }
  
  .content {
    flex-grow: 1;
    padding-left: 20px; /* Adjust padding to ensure content is not under the sidebar */
    transition: padding-left 0.3s ease;
  }
  
  .content.sidebar-open {
    padding-left: 240px; /* Adjust to account for sidebar width and margin */
  }
  .toggle-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 10;
  }
  
  .toggle-icon svg {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
  }
  
  .toggle-icon:hover svg {
    transform: scale(1.1);
  }